language: python
cache: pip
dist: xenial
services:
  - docker
addons:
apt:
  packages:
    - python-mysqldb
install:
  - pip install --upgrade pip
  - pip install --upgrade setuptools pipenv
  - ./scripts/use_appropriate_lockfile.sh
  - pipenv install --dev --deploy --system
  - pipenv install --system --skip-lock -e .
before_script:
  - docker-compose up -d
matrix:
  include:
  - name: "Lint and static analysis"
    python: "3.6"
    script:
      - pipenv run ./scripts/copyright_line_check.sh
      - pipenv run ./scripts/lint.sh
  - name: "Python 2.7 unit tests"
    python: "2.7"
    script:
      - pipenv run py.test --cov=graphql_compiler graphql_compiler/tests
  - name: "Python 3.6 unit tests"
    python: "3.6"
    script:
      - pipenv run py.test --cov=graphql_compiler graphql_compiler/tests
  - name: "Python 3.7 unit tests"
    python: "3.7"
    script:
      - pipenv run py.test --cov=graphql_compiler graphql_compiler/tests
after_success:
  - docker-compose down
  - coveralls
