[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]  # Make sure to keep in sync with setup.py requirements.
requests = ">=2.0.0,<2.23.0"

[requires]
python_version = "3.8"
