[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# The Cython dependency of pymssql is not correctly resolved on all systems
# so it is explicitly included here.
cython = "==0.29.2"

# Test requirements that are not otherwise necessary when using the package.
mysqlclient = "==1.3.14"
neo4j = ">=1.7.4,<2"
psycopg2-binary = "==2.8.4"
pyodbc = "==4.0.27"
pyorient = "==1.5.5"
redis = ">=3.2.1,<4"
redisgraph = ">=1.7,<1.9"

# Linters and other development tools
bandit = ">=1.5.1,<2"
coveralls = ">=1.5.1,<2"
flake8 = ">=3.6.0,<4"
flake8-print = ">=3.1.0,<4"
flake8-quotes = ">=1.0.0,<2"
isort = ">=4.3.4,<5"
parameterized = ">=0.6.1,<1"
pydocstyle = ">=3.0.0,<4"
pylint = "==1.9.4"  # v1.9.5 is marked as "python_requires < 3.7", update this after we're Py3+ only
pytest = ">=4.1.0,<5"
pytest-cov = ">=2.6.1,<3"
snapshottest = ">=0.5.1,<1"

# Documentation requirements. Keep in sync with docs/requirements.txt.
# Read the Docs doesn't support pipfiles: https://github.com/readthedocs/readthedocs.org/issues/3181
sphinx-rtd-theme = ">=0.4.3,<1"
sphinx = ">=1.8,<2"

[packages]  # Make sure to keep in sync with setup.py requirements.
arrow = ">=0.15.0,<1"
frozendict = ">=1.2,<2"
funcy = ">=1.7.3,<2"
graphql-core = ">=2.1,<3"
pytz = ">=2017.2"
six = ">=1.10.0"
sqlalchemy = ">=1.3.0,<2"

[requires]
python_version = "3.6"
